:root {
  --bg: #E5DDEB;
  --text: #1f2937;
  --muted: #6b7280;
  --card: #ffffff;
  --accent: #2563eb;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;

  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

.site-header {
  outline: 1px solid purple;
  min-height: 100vh;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(2.2rem, 4.5vw, 3rem);
  font-weight: 400;

  text-align: center;       
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.site-header .intro {
  font-size: 1rem;
  color: var(--muted);
  margin-bottom: 0.2rem;
}

.site-header h1 {
  font-size: clamp(2rem, 4vw, 2.6rem);
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.site-header .tagline {
  font-size: 1rem;
  color: #0D0910;
  font-style: italic;
}


main {
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
}

section {
  margin-bottom: 3rem;
}

h1, h2, h3 {
  line-height: 1.25;
}

.project {
  background: var(--card);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.project a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
}

.tech {
  color: var(--muted);
  font-size: 0.9rem;
}

.site-footer {
  text-align: center;
  color: var(--muted);
  font-size: 0.9rem;
  margin: 4rem auto 2rem;
}

.email-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1rem;

  background-color: #292253;
  color: white;

  border-radius: 999px;
  font-size: 1rem;
  text-decoration: none;

  cursor: pointer;
}

.email-button:hover {
  background-color: #786CC1;
}


