:root {
  --bg: #E5DDEB;
  --text: #1f2937;
  --muted: #6b7280;
  --card: #ffffff;
  --accent: #2563eb;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: "Concert One", sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

/* HEADER & CENTERING */
.site-header {
  min-height: 80vh;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centers items horizontally */
  text-align: center;       
  padding: 2rem 1rem;
  margin-bottom: 3rem;
}

.profile-img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover; /* Keeps photo from stretching */
  margin: 1.5rem auto; /* Top/Bottom margin 1.5rem, Left/Right Auto */
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
  .profile-img {
    height: 150px;
    width: 150px;
  }
}

/* TYPOGRAPHY */
.site-header .intro {
  font-size: 1.5rem;
  color: #0D0910;
}

.site-header h1 {
  font-size: 2rem, 5vw, 2.5rem);
  margin: 0.2rem 0;
}

/* The "Welcome to my website" */
.site-header .tagline {
  font-size: 1.4rem; 
  color: #0D0910;
  font-style: italic;
  margin-bottom: 1rem;
}

/* MAIN CONTENT */
main {
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
}

section {
  margin-bottom: 4rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.project {
  background: var(--card);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* BUTTONS */
.email-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #292253;
  color: white;
  border-radius: 999px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.email-button:hover {
  background-color: #786CC1;
  transform: translateY(-2px);
}

.site-footer {
  text-align: center;
  color: var(--muted);
  padding: 4rem 0 2rem;
}
